.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-duration: .8s;
  /*transition прописал в саму ссылку, чтобы наведение пропадало плавно*/
}

.footer__column-link:hover {
  opacity: .5;
}
