.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0; /*не знаю нужно ли было обнулять margin */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}
